.container {
  position: relative;
  aspect-ratio: 16/9;
  overflow: hidden;
}
.container div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 100px;
  background-color: hotpink;
  border-radius: 100%;
  transition: all 2s;
}

h1 {
  color: magenta;
  text-align: center;
}
